
@model IEnumerable<Job>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
    <div class="col-md-8">
        
        <h1> New jobs (@Model.Count())</h1>
        <hr class=" no-margin"/>
        
    </div>
    
</div>

<div class="row">
    
    @foreach(var job in Model)
    {
        <div class="posting">
            <div class="title-container">
                <h3>@job.Title</h3>
                <span>@job.Company | @job.Location | posted on @job.AssignedDate.ToString("MM/dd/yyyy")</span>
            </div>
            <p class="description">@job.Description</p>
            
            <a class="btn btn-success" href="@Url.Action("Apply", "Jobs", new {id=job.WorkId})" role="button">Apply for this job</a>
            <hr/>
            
        </div>
    }

</div>
